<div #generatorWrapper class="generator-wrapper">
  <a
    class="nav-item"
    href="#"
    (click)="$event.preventDefault()"
    (mouseenter)="onGeneratorButtonEnter()"
    (mouseleave)="onGeneratorButtonLeave()"
  >
    <span class="nav-icon">🔐</span>
    <span>{{ 'generator.nav' | t }}</span>
  </a>

  <div
    class="generator-panel"
    *ngIf="showGenerator"
    [ngStyle]="{ left: genPosX + 'px', top: genPosY + 'px' }"
    (mouseenter)="onPanelEnter()"
    (mouseleave)="onPanelLeave()"
    #generatorPanel
  >
    <div class="drag-handle" (mousedown)="onDragStart($event)" [attr.title]="'generator.move' | t">
      ::
    </div>
    <button
      class="pin-btn"
      [class.pinned]="generatorPinned"
      (click)="togglePin($event)"
      [attr.title]="'generator.pin' | t"
    >
      📌
    </button>
    <div class="gen-title">{{ 'generator.title' | t }}</div>

    <div class="gen-row length">
      <label>{{ 'generator.length' | t }}: <strong>{{ genLength }}</strong></label>
      <input
        type="range"
        min="8"
        max="40"
        [(ngModel)]="genLength"
        (input)="onLengthChange()"
      />
    </div>

    <div class="gen-row toggles">
      <label [attr.title]="'generator.upper.help' | t">
        <input type="checkbox" [(ngModel)]="useUpper" (change)="onOptionChange()" />
        {{ 'generator.upper' | t }}
      </label>
      <label [attr.title]="'generator.lower.help' | t">
        <input type="checkbox" [(ngModel)]="useLower" (change)="onOptionChange()" />
        {{ 'generator.lower' | t }}
      </label>
      <label [attr.title]="'generator.numbers.help' | t">
        <input type="checkbox" [(ngModel)]="useNumbers" (change)="onOptionChange()" />
        {{ 'generator.numbers' | t }}
      </label>
      <label [attr.title]="'generator.symbols.help' | t">
        <input type="checkbox" [(ngModel)]="useSymbols" (change)="onOptionChange()" />
        {{ 'generator.symbols' | t }}
      </label>
    </div>

    <div class="gen-output">
      <span class="gen-password">{{ generatedPassword }}</span>
      <div class="gen-actions">
        <button class="btn ghost small" (click)="refreshGenerated($event)">{{ 'generator.refresh' | t }}</button>
        <button class="btn primary small" (click)="copyGenerated($event)">
          <ng-container *ngIf="!copyFeedback; else copied">{{ 'generator.copy' | t }}</ng-container>
          <ng-template #copied>{{ 'generator.copied' | t }}</ng-template>
        </button>
      </div>
    </div>
  </div>
</div>
